NET "RESET"			LOC = "B11"		| IOSTANDARD=LVCMOS33;
NET "CLK_IN"	 	LOC = "T10"  	| IOSTANDARD=LVCMOS33;

NET "LED1"   		LOC = "A14"  	| IOSTANDARD=LVCMOS33;
NET "LED2"   		LOC = "B14"  	| IOSTANDARD=LVCMOS33;

NET "DATA<0>"   	LOC = "E11"  	| IOSTANDARD=LVCMOS33;
NET "DATA<1>"   	LOC = "D11"  	| IOSTANDARD=LVCMOS33;
NET "DATA<2>"   	LOC = "C11"  	| IOSTANDARD=LVCMOS33;
NET "DATA<3>"   	LOC = "D9"  	| IOSTANDARD=LVCMOS33;
NET "DATA<4>"   	LOC = "C4"  	| IOSTANDARD=LVCMOS33;
NET "DATA<5>"   	LOC = "C12"  	| IOSTANDARD=LVCMOS33;
NET "DATA<6>"   	LOC = "F9"  	| IOSTANDARD=LVCMOS33;
NET "DATA<7>"   	LOC = "C9"  	| IOSTANDARD=LVCMOS33;
NET "DATA<8>"   	LOC = "D8"  	| IOSTANDARD=LVCMOS33;
NET "DATA<9>"   	LOC = "D4"  	| IOSTANDARD=LVCMOS33;
NET "DATA<10>"  	LOC = "C5"  	| IOSTANDARD=LVCMOS33;
NET "DATA<11>"  	LOC = "C8"  	| IOSTANDARD=LVCMOS33;
NET "DATA<12>"  	LOC = "C7"  	| IOSTANDARD=LVCMOS33;
NET "DATA<13>"  	LOC = "D6"  	| IOSTANDARD=LVCMOS33;
NET "DATA<14>"  	LOC = "E7"  	| IOSTANDARD=LVCMOS33;
NET "DATA<15>"  	LOC = "E6"  	| IOSTANDARD=LVCMOS33;

NET "ADDR<0>"	 	LOC = "D14"  	| IOSTANDARD=LVCMOS33;
NET "ADDR<1>"	 	LOC = "B3"	  	| IOSTANDARD=LVCMOS33;
NET "ADDR<2>"	 	LOC = "B2"	  	| IOSTANDARD=LVCMOS33;
NET "ADDR<3>"	 	LOC = "A2" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<4>"	 	LOC = "B4" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<5>"	 	LOC = "A7" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<6>"	 	LOC = "B6" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<7>"	 	LOC = "A8" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<8>"	 	LOC = "B8" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<9>"	 	LOC = "A6" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<10>"	 	LOC = "A3" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<11>"	 	LOC = "A4" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<12>"	 	LOC = "C6" 		| IOSTANDARD=LVCMOS33;
NET "ADDR<13>"	 	LOC = "A5" 		| IOSTANDARD=LVCMOS33;

NET "CSN"		 	LOC = "C13"  	| IOSTANDARD=LVCMOS33;
NET "OEN"		 	LOC = "B12"	  	| IOSTANDARD=LVCMOS33;
NET "WEN"		 	LOC = "C15"	  	| IOSTANDARD=LVCMOS33;
#NET "WAIT"		 	LOC = "D12" 	| IOSTANDARD=LVCMOS33;
#NET "RNW"			LOC = "E13" 	| IOSTANDARD=LVCMOS33;

NET "DSP_PWM_IN<0>"	 	LOC = "F12"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<1>"	 	LOC = "F7"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<2>"	 	LOC = "F8"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<3>"	 	LOC = "F10"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<4>"	 	LOC = "A9"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<5>"	 	LOC = "B9"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<6>"	 	LOC = "E8"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<7>"	 	LOC = "G8"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<8>"	 	LOC = "A10"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<9>"	 	LOC = "C10"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<10>"	 	LOC = "G9"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<11>"	 	LOC = "G11"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<12>"	 	LOC = "F11"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<13>"	 	LOC = "E12"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<14>"	 	LOC = "F13"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_IN<15>"	 	LOC = "A11"  	| IOSTANDARD=LVCMOS33;

NET "DSP_PWM_OUT<0>" 	LOC = "E18" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<1>" 	LOC = "F17" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<2>" 	LOC = "F18" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<3>" 	LOC = "G16" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<4>" 	LOC = "G18" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<5>" 	LOC = "H17" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<6>" 	LOC = "H18" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<7>" 	LOC = "J18" 	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<8>"	 	LOC = "T18"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<9>"	 	LOC = "T17"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<10>"	LOC = "U18"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<11>"	LOC = "U17"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<12>"	LOC = "V16"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<13>"	LOC = "U16"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<14>"	LOC = "V15"  	| IOSTANDARD=LVCMOS33;
NET "DSP_PWM_OUT<15>"	LOC = "P18"  	| IOSTANDARD=LVCMOS33;

#NET "RELAY<0>"	 			LOC = "T18"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<1>"	 			LOC = "T17"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<2>"				LOC = "U18"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<3>"				LOC = "U17"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<4>"				LOC = "V16"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<5>"				LOC = "U16"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<6>"				LOC = "V15"  	| IOSTANDARD=LVCMOS33;
#NET "RELAY<7>"				LOC = "P18"  	| IOSTANDARD=LVCMOS33;

#NET "LIGHT<0>"				LOC = "V16"  	| IOSTANDARD=LVCMOS33;
#NET "LIGHT<1>"				LOC = "U16"  	| IOSTANDARD=LVCMOS33;
#NET "LIGHT<2>"				LOC = "V15"  	| IOSTANDARD=LVCMOS33;
#NET "LIGHT<3>"				LOC = "P18"  	| IOSTANDARD=LVCMOS33;

NET "FAULT_INPUT<0>" 	LOC = "V5" 		| IOSTANDARD=LVCMOS33;
NET "FAULT_INPUT<1>" 	LOC = "U5" 		| IOSTANDARD=LVCMOS33;
NET "FAULT_INPUT<2>" 	LOC = "T4" 		| IOSTANDARD=LVCMOS33;
NET "FAULT_INPUT<3>" 	LOC = "V4" 		| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<4>" 	LOC = "P8" 		| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<5>" 	LOC = "P7" 		| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<6>" 	LOC = "P6" 		| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<7>" 	LOC = "N7" 		| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<8>"	 	LOC = "V9"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<9>"	 	LOC = "U10"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<10>"	LOC = "V8"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<11>"	LOC = "V7"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<12>"	LOC = "V10"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<13>"	LOC = "F16"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<14>"	LOC = "U7"  	| IOSTANDARD=LVCMOS33;
#NET "FAULT_INPUT<15>"	LOC = "V6"  	| IOSTANDARD=LVCMOS33;

NET "CAPTURE<0>"			LOC = "P8" 		| IOSTANDARD=LVCMOS33;

NET "FAULT_XINT"			LOC = "C14"		| IOSTANDARD=LVCMOS33;

# Pin assignment for external ADC
#NET "ADC_DIN_1"			LOC = "G14" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_DOUT_1"			LOC = "F14" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_CSN_1"			LOC = "F15" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_DIN_2"			LOC = "E16" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_DOUT_2"			LOC = "D18" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_CSN_2"			LOC = "D17" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_SCLK"			LOC = "C18" 	| IOSTANDARD=LVCMOS33;
#NET "ADC_RST"				LOC = "C17" 	| IOSTANDARD=LVCMOS33;

# Pin assignment for IO
#NET "GPIO<0>" 			LOC = "F16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<1>" 			LOC = "E18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<2>" 			LOC = "K12" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<3>" 			LOC = "K13" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<4>" 			LOC = "F17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<5>" 			LOC = "F18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<6>" 			LOC = "H13" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<7>" 			LOC = "H14" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<8>" 			LOC = "H15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<9>" 			LOC = "H16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<10>" 		LOC = "G16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<11>" 		LOC = "G18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<12>" 		LOC = "J13" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<13>" 		LOC = "K14" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<14>" 		LOC = "L12" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<15>" 		LOC = "L13" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<16>" 		LOC = "K15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<17>" 		LOC = "K16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<18>" 		LOC = "P16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<19>" 		LOC = "P15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<20>" 		LOC = "M13" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<21>" 		LOC = "L14" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<22>" 		LOC = "N14" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<23>" 		LOC = "M14" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<24>" 		LOC = "U18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<25>" 		LOC = "U17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<26>" 		LOC = "T18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<27>" 		LOC = "T17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<28>" 		LOC = "N16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<29>" 		LOC = "N15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<30>" 		LOC = "P18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<31>" 		LOC = "P17" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<32>" 		LOC = "N18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<33>" 		LOC = "N17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<34>" 		LOC = "M18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<35>" 		LOC = "M16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<36>" 		LOC = "L18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<37>" 		LOC = "L17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<38>" 		LOC = "K18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<39>" 		LOC = "K17" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<40>" 		LOC = "J18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<41>" 		LOC = "J16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<42>" 		LOC = "H18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<43>" 		LOC = "H17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<44>" 		LOC = "L16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<45>" 		LOC = "L15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<46>" 		LOC = "P6" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<47>" 		LOC = "N5" 		| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<48>" 		LOC = "V4" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<49>" 		LOC = "T4" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<50>" 		LOC = "T3" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<51>" 		LOC = "R3" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<52>" 		LOC = "V5" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<53>" 		LOC = "U5" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<54>" 		LOC = "T5" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<55>" 		LOC = "R5" 		| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<56>" 		LOC = "P7" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<57>" 		LOC = "N6" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<58>" 		LOC = "T7" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<59>" 		LOC = "R7" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<60>" 		LOC = "V6" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<61>" 		LOC = "T6" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<62>" 		LOC = "P8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<63>" 		LOC = "N7" 		| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<64>" 		LOC = "V7" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<65>" 		LOC = "U7" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<66>" 		LOC = "V8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<67>" 		LOC = "U8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<68>" 		LOC = "N8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<69>" 		LOC = "M8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<70>" 		LOC = "V9" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<71>" 		LOC = "T9" 		| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<72>" 		LOC = "T8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<73>" 		LOC = "R8" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<74>" 		LOC = "U16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<75>" 		LOC = "V16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<76>" 		LOC = "U15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<77>" 		LOC = "V15" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<78>" 		LOC = "P12" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<79>" 		LOC = "U13" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<0>" 		LOC = "E18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<1>" 		LOC = "F17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<2>" 		LOC = "F18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<3>" 		LOC = "G16" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<4>" 		LOC = "G18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<5>" 		LOC = "H17" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<6>" 		LOC = "H18" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<7>" 		LOC = "J18" 	| IOSTANDARD=LVCMOS33;
#
#NET "GPIO<88>" 		LOC = "P11" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<89>" 		LOC = "M10" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<90>" 		LOC = "N9" 		| IOSTANDARD=LVCMOS33;
#NET "GPIO<91>" 		LOC = "U11" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<92>" 		LOC = "V11" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<93>" 		LOC = "R10" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<94>" 		LOC = "U10" 	| IOSTANDARD=LVCMOS33;
#NET "GPIO<95>" 		LOC = "V10" 	| IOSTANDARD=LVCMOS33;

//////////////////////////// DDR3
#NET "DDR_RESETn"			LOC = "E4"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_CLK_P"			LOC = "G3"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_CLK_N"			LOC = "G1"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_CKE"				LOC = "H7"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_ODT"				LOC = "K6"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_WEn"				LOC = "E3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_RZQ"				LOC = "N4"  	| IOSTANDARD=SSTL15_II;
#
#NET "DDR_A<0>"				LOC = "J7"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<1>"				LOC = "J6"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<2>"				LOC = "H5"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<3>"				LOC = "L7"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<4>"				LOC = "F3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<5>"				LOC = "H4"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<6>"				LOC = "H3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<7>"				LOC = "H6"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<8>"				LOC = "D2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<9>"				LOC = "D1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<10>"			LOC = "F4"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<11>"			LOC = "D3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<12>"			LOC = "G6"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<13>"			LOC = "F6"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_A<14>"			LOC = "F5"  	| IOSTANDARD=SSTL15_II;
#
#NET "DDR_BA<0>"			LOC = "F2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_BA<1>"			LOC = "F1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_BA<2>"			LOC = "E1"  	| IOSTANDARD=SSTL15_II;
#
#NET "DDR_RASn"				LOC = "L5"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_CASn"				LOC = "K5"  	| IOSTANDARD=SSTL15_II;
#
#NET "DDR_DQ<0>"			LOC = "L2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<1>"			LOC = "L1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<2>"			LOC = "K2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<3>"			LOC = "K1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<4>"			LOC = "H2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<5>"			LOC = "H1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<6>"			LOC = "J3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<7>"			LOC = "J1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<8>"			LOC = "M3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<9>"			LOC = "M1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<10>"			LOC = "N2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<11>"			LOC = "N1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<12>"			LOC = "T2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<13>"			LOC = "T1"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<14>"			LOC = "U2"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_DQ<15>"			LOC = "U1"  	| IOSTANDARD=SSTL15_II;
#
#NET "DDR_LDQS_P"			LOC = "L4"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_LDQS_N"			LOC = "L3"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_UDQS_P"			LOC = "P2"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_UDQS_N"			LOC = "P1"  	| IOSTANDARD=DIFF_SSTL15_II;
#NET "DDR_LDM"				LOC = "K3"  	| IOSTANDARD=SSTL15_II;
#NET "DDR_UDM"				LOC = "K4"  	| IOSTANDARD=SSTL15_II;
#
#
